<article>
    <a href="/products/productDetail/<%= producto.id %>">
        <img src= "/images/<%= producto.image[0] %>"  class="imagenProducto" >
    </a>
    <div class="main-article">
        <h4><%= producto.title %> </h4>
        <p><%= producto.description %></p>
        <div class="contenedor-precio">
            <p class="precio">$<%= producto.price %> </p>
            <button><i class="fas fa-cart-plus"></i></button>
        </div>
    </div>
</article>